@import "tailwindcss";
@font-face {
  font-family: "Gochi Hand";
  src: url("/public/fonts/GochiHand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.font-gochi {
  font-family: "Gochi Hand", cursive;
}
